// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import "~@fortawesome/fontawesome-free/css/all.css";

@import '~jquery-ui/themes/base/all.css';
